<div class="container">

  <h1>Welcome to my blog!</h1>

  <h3><a href="/posts">See all posts?</a></h3>
  <br>
  <h3><a href='/user/registration'>Register!</a></h3>
  <br>
  <h3><a href='/user/login'>Already registered? Log in!</a></h3>


</div>