<div class='container'>

  <h1>Viewing Single Post</h1>

  <h3><%= @post.title %></h3>
  <br>
  <p><%= @post.body %></p>

</div>
<div class='container'>

<h3>Comments</h3>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>
</div>

