<div class='container'>
<h1> Please Register! </h1>

  <form method="post" action="/user/login">
    Username: <input type="text" name="user_name" placeholder="Enter Username!">
    Password: <input type="password" name="password_hash" placeholder="Enter your password!">
    <input type="submit" value="Sign In!">
  </form>


</div>