<div class='container'>
<h1> Please Register! </h1>

  <form method="post" action="/user/registration">
    Username: <input type="text" name="user_name" placeholder="Enter Username!">
    Email: <input type="email" name="email" placeholder="Enter your email!">
    Password: <input type="password" name="password_hash" placeholder="Enter your password!">
    <input type="submit" value="Register!">
  </form>


</div>